.meteorShower {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    opacity: 1;

}

/* Estilo base de cada meteoro (la cola) */
.meteor {
    position: absolute;
    width: 300px;
    height: 2px;
    transform: rotate(-45deg);
    /* Ángulo de caída */
    background-image: linear-gradient(to right, #fca95c, rgba(255, 255, 255, 0));
    animation-name: meteor-fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Estilo de la cabeza del meteoro (el punto brillante en el extremo) */
.meteor::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: -1.5px;
    /* Centra el punto verticalmente */
    background: rgba(255, 156, 43, 0.9);
    /* El box-shadow crea el resplandor de la cabeza */
    box-shadow: 0 0 15px 3px #f5a152;
}

/* Keyframes de la animación de caída */
@keyframes meteor-fall {
    0% {
        opacity: 0;
        /* Inicia invisible */
        /* Posición inicial fuera de la esquina superior derecha */
        transform: translate(200vw, -100vh) rotate(-45deg);
    }

    5% {
        opacity: 1;
        /* Aparece rápidamente */
    }

    95% {
        opacity: 1;
        /* Se mantiene visible durante la caída */
    }

    100% {
        opacity: 0;
        /* Desaparece */
        /* Posición final fuera de la esquina inferior izquierda */
        transform: translate(-100vw, 200vh) rotate(-45deg);
    }
}