.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  perspective: 1000px;
}

.neon-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--brand-light);
  box-shadow:
    0 0 10px var(--brand-light),
    0 0 20px var(--brand-light),
    0 0 30px var(--brand-light);
  animation: spin 6s linear infinite;
  filter: drop-shadow(0 0 10px var(--brand-light));
}

.glow-text {
  position: relative;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  color: var(--brand-light);
  text-shadow:
    0 0 10px var(--brand-light),
    0 0 20px var(--brand-light);
  animation: glowPulse 2s ease-in-out infinite;
}

/* Animaciones */
@keyframes glowPulse {
  0%,
  100% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
    text-shadow: 0 0 15px var(--brand-light), 0 0 30px var(--brand-light);
  }

}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}