.diagramas-section {
    padding: 1.5rem;
    border-radius: 16px;
    margin: 0 auto;
    text-align: center;
}

.diagramas-title {
    color: var(--brand-main);
    text-shadow: 0 0 10px var(--brand-glow-med);
    margin-bottom: 0.5rem;
    text-align: center;
}

.diagramas-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}


.diagrama-content {
    margin-top: 30px;
    text-align: center;
    color: var(--text);
}

.diagrama-content h2 {
    color: var(--brand-main);
    margin-bottom: 15px;
}

.diagrama-content p {
    max-width: 800px;
    margin: 0 auto 20px;
    line-height: 1.6;
}

.diagrama-content img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px var(--brand-glow-med);
}