.sidebar {
  background-color: var(--bg);
  min-height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  transition: transform 0.3s ease-out;
}


.logoContainer {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  
  .sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 990;
    transform: translateX(-100%); 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .sidebar.open {
    transform: translateX(0); 
  }
}
